section {
  padding-top: 130px;
}
section div {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  column-gap: 50px;
}
.str {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: ;
}

.find-us-str {
  display: flex;
  flex-direction: column;
}

.find-us-str h3 {
  font-size: 30px;
  color: #0f8b8d;
}

.find-us-str p {
  font-size: 25px;
}

.str-str {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  width: 474px;
  padding: 15px 25px;
}

.str-str h4 {
  color: #143642;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.str-str p {
  color: #143642;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.str-img iframe {
  width: 600px;
  height: 600px;
  margin: auto;
  border-radius: 20px;
}

.str-img img {
  border-radius: 20px;
}
